<!--embedded ruby template 
this allows us to write html for ruby files
-->

<h1>Dice Roll</h1>
<ul>
  <li><a href="/dice/2/6">Roll two die with 6 faces</a></li>
  <li><a href="/dice/2/10">Roll two die with 10 faces</a></li>
  <li><a href="/dice/1/20">Roll 1 dice with 20 faces</a></li>
  <li><a href="/dice/100/6">Roll 100 die with 6 faces</a></li>
</ul>
